.home__about {
	padding: 38px 0 30px;
}

.home__about__content {
	margin-bottom: 50px;
}

.home__about__content__subtitle,
.home__about__content__title {
	text-transform: uppercase;
	font-family: var(--font-primary);
}

.home__about__content__subtitle {
	color: var(--color-grey-1);
}

.home__about__content__title {
	color: var(--color-orange-1);
	margin: 16px 0 25px;
}

.home__about__content__text {
	color: var(--color-grey-2);	
}

.home__about__slider {
	text-align: center;
}

.home__about__slider__control {
	margin-top: 30px;
}

.home__about__slider__control__arrow {
	cursor: pointer;
}

@media screen and (min-width: 1200px) {
	.home__about {
		padding: 111px 0;
	}

	.home__about__content__subtitle {
		font-size: 16px;
	}

	.home__about__content__title {
		font-size: 54px;
	}

	.home__about__content__text {
		line-height: 30px;
	}

	.home__about__slider__control {
		text-align: right;
	}
}