.home__contact {
	text-align: center;
	padding: 46px 0 42px;
	color: var(--color-grey-2, #777777);
}

.home__contact__content__title {
	font-weight: normal;
}

.home__contact__content__text {
	margin-bottom: 45px;
}

.contact__form__group {
	position: relative;
	margin-bottom: 7px;
}


.contact__form__group__field {
	padding: 18px 25px;
	width: 100%;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	outline: none;
}

.contact__form__group__label {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.home__contact__content__form [type=submit] {
	background: var(--color-green);
	width: 100%;
	text-transform: uppercase;
	padding: 9px 0;
	border: none;
	outline: none;
	color: var(--color-white-pure, #ffffff);
	border-radius: 3px;
	display: inline-block;
}

.home__contact__content__form [type=submit] span {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	display: inline-block;
}

.home__contact__bkg {
	margin-top: 53px;
	height: 283px;
	background: url('img/contact-sm.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

@media screen and (min-width: 1200px) {
	.home__contact {
		text-align: left;
		padding: 86px 0 112px;
	}

	.home__contact__content__title {
		font-size: 44px;
		font-weight: normal;
	}

	.home__contact__content__text {
		margin-bottom: 31px;
	}

	.home__contact__content__form {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;		
		-ms-flex-wrap: wrap;
	  	flex-wrap: wrap;		
	}

	.contact__form__group {		
		flex: 0 0 47%;
		margin: 0 22px 19px 0;
	}

	.contact__form__group:last-of-type {
		flex: 0 0 97%;
	}

	.home__contact__bkg {
		margin-top: 53px;
		height: 431px;
		background: url('img/contact-lg.png') no-repeat center;
		-webkit-background-size: contain;
		background-size: contain;
	}	

	.home__contact__content__form [type=submit] { 
		width: 97%;
	}
}
