.home__features {
	padding: 69px 0 70px;
	text-align: center;
	background: var(--color-orange-2, #f37639);
	background-image: radial-gradient(circle 500px at center, #f68041 0%, #f68041 24%, #e8531c 100%);;
	color: var(--color-white-pure, #ffffff);
}

.home__features__title {
	font-weight: normal;
}

.home__features__title,
.home__features__card__title {
	text-transform: uppercase;
}

.home__features__card {
	margin-top: 60px;
}

.home__features__title {
	margin: 29px 0;
}