.home__header {
	padding: 26px 0 98px;
	background: url('img/Banner-sm.png') no-repeat left top;	
	-webkit-background-size: contain;
	background-size: contain;
	color: var(--color-white-pure);
}

.home__header__nav__toggle {
	border: none;
	outline: none;
	background: transparent;
}

.home__header__nav__menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	text-transform: uppercase;
}

.home__header__nav__menu__item {
	margin-right: 15px;
	font-family: var(--font-secondary-semi);
}

.home__header__lead {
	margin-top: 61px;
}

.home__header__lead__title,
.home__header__lead__subtitle {
	text-transform: uppercase;		
}

.home__header__lead__title {
	font-family: var(--font-primary);
}

.home__header__lead__subtitle {
	font-weight: 300;
	font-family: var(--font-primary-light);
}

.home__header__lead__text {
	margin: 26px 0 47px;
}

.home__header__lead__text span {
	font-family: var(--font-secondary-semi);
	font-style: italic;
}

.home__header__lead__button {
	display: inline-block;
	text-transform: uppercase;
	padding: 24px 61px;
	border: 1px solid var(--color-white-pure, #ffffff);
	border-radius: 100px;
	font-weight: bold;
	margin-right: 11px;
	font-family: var(--font-secondary-semi);
}

.home__header__lead__button:last-child {
	background: var(--color-white-pure, #ffffff);
	color: var(--color-orange-1);	
}

@media screen and (min-width: 1200px) {
	.home__header {		
		padding: 33px 0 173px;
		background: url('img/banner-lg.png') no-repeat center top;	
		-webkit-background-size: cover;
		background-size: cover;
	}

	.home__header__lead {
		margin-top: 115px;
	}

	.home__header__lead__title {
		font-size: 56px;
	}

	.home__header__lead__subtitle {
		font-size: 36px;

	}

	.home__header__lead__text {
		font-size: 20px;
		margin: 48px 0;
		width: 952px;
	}
}