.home__remote {
	padding: 54px 0 60px;
}

.home__remote__content {
	text-align: center;
	margin-bottom: 64px;
}

.home__remote__content__title {
	color: var(--color-orange-2);
	margin-bottom: 26px;
	text-transform: uppercase;
	font-family: var(--font-primary);
}

.home__remote__content__text {	
	font-family: var(--font-secondary-semi);
}

.home__remote__bkg {
	height: 327px;
	background: url('img/remote-sm.png') no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}

@media screen and (min-width: 1200px) {
	.home__remote {
		padding: 99px 0 86px;
	}

	.home__remote__content {
		margin-top: 128px;
		text-align: left;
	}

	.home__remote__content__title {
		margin-bottom: 40px;
	}

	.home__remote__content__text {
		font-size: 26px;		
	}
}