.home__features {
	padding: 69px 0 70px;
	text-align: center;
	background: var(--color-orange-2, #f37639);
	background-image: radial-gradient(circle 500px at center, #f68041 0%, #f68041 24%, #e8531c 100%);;
	color: var(--color-white-pure, #ffffff);
}

.home__features__title {
	font-weight: normal;
	font-family: var(--font-primary-light);
	margin: 29px 0;
}

.home__features__title,
.home__features__card__title {
	text-transform: uppercase;
}

.home__features__card {
	margin-top: 60px;
}

.home__features__card__title {
	font-family: var(--font-primary);
}

@media screen and (min-width: 1200px) {	
	.home__features {
		padding: 101px 0;
	}

	.home__features__title {
		font-size: 50px;
	}

	.home__features__card {		
		display: inline-block;
		vertical-align: top;
		width: 17.5vw;
		margin-right: 55px;
	}	

	.home__features__card:last-of-type {
		margin-right: 0;
	}

	.home__features__card__title {
		font-size: 1.3vw;
		height: 63px;
		margin: 1vw 0;
	}
}