.home__footer {
	background-color: var(--color-orange-2, #f37639);
	background-image: radial-gradient(circle 500px at center, #f68041 0%, #f68041 24%, #e8531c 100%);	
	padding: 53px 0 33px;
	text-align: center;
	color: var(--color-white-pure, #ffffff);
}

.home__footer__logo {
	display: block;
	padding-bottom: 32px;
	border-bottom: 1px solid #fcac99;
}

.home__footer__nav {
	margin: 39px 0;
}

.home__footer__nav__menu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
	font-size: 13px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.home__footer__nav__menu__item {
	border-right: 1px solid var(--color-white-pure, #ffffff);
	padding: 0 2.5vw;
}

.home__footer__nav__menu__item:last-child {
	border: none;
}

.home__footer__social {
	padding-bottom: 30px;
	border-bottom: 1px solid #fcac99;
}

.home__footer__social__link {
	margin-right: 7px;
}

.home__footer__copyrights {
	margin-top: 26px;
}

@media screen and (min-width: 1200px) {
	.home__footer {
		padding: 46px 0 50px;
	}

	.home__footer__logo {
		padding-bottom: 46px;
	}

	.home__footer__nav__menu__item {		
		padding: 0 0.6vw;
	}
}