@media screen and (max-width: 499px) {
	.home__portfolio__slider__img {		
		width: 100%;
	}
}

.home__portfolio {
	padding: 46px 0 27px;
}

.home__portfolio__content {
	text-align: center;
}

.home__portfolio__content__title {	
	font-weight: normal;
}

.home__portfolio__content__text {	
	margin: 25px auto 44px;
	width: 253px;
	color: var(--color-grey-2);
}

.home__portfolio__slider {
	text-align: center;
}

.home__portfolio__slider__img {
	margin: 150px 0;
	width: auto;
}

.home__portfolio__slider__control__arrow {
	cursor: pointer;
}

@media screen and (min-width: 1920px) {
	.home__portfolio {
		padding: 57px 0 92px;
	}

	.home__portfolio__slider__img {
		margin: 217px 110px;		
	}	

	.home__portfolio__content__title {
		font-size: 44px;
		font-weight: normal;
	}

	.home__portfolio__content__text {
		width: 490px;
	}
}