@font-face {
    font-family: 'Open Sans', sans-serif;
    src: 
        local('Open Sans')
        url('font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}