.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}
@media screen and (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
    .d-md-none {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
    .d-lg-block {
        display: block !important;
    }
    .d-lg-flex {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex !important;
    }    
    .d-lg-none {
        display: none !important;
    }
}